[Desktop Entry]
Encoding=UTF-8
Type=Application
Categories=Amusement;
Name=xcowfortune
Terminal=false
Comment=Displays a cute cow saying a fortune
Exec=xcowfortune
